<mat-card>
  <mat-card-title>{{ question.title }}</mat-card-title>

  <mat-card-content>
    <p *ngIf="question?.text">{{ question?.text }}</p>
    <img
      *ngIf="question?.image"
      [src]="question?.image"
      [alt]="question.title"
    />
    <section>
      <app-answer [options]="question.answers"></app-answer>
    </section>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onOk()">Ok</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
